<h1>Burger!</h1>
<img src= "/public/assets/img/ef0865a83a47e946e086a9e97ead23df.jpg">

<h2>Burgers Not Devoured</h2>

<ul>
  {{#each burgers}}
    {{#unless sleepy}}
      {{> burgers/burger-block devoured=false}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers devoured</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h2>Order a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" id="bg" name="name">
  </div>

  <button type="submit">Burger</button>
</form>
